<div ng-init="AboutCtrl.initialize()">
    <section class="about-msa">
        <div class="msa-cities">
            <div class="brand"></div>
        </div>

        <div class="biography">
            <header class="section-header">
                Mission Statement
            </header>

            MSA believes that amazing things happen when the right people connect. We introduce our top talent to every corner of the entertainment industry and turn our clients dreams into realities. As the industry's pioneering dance agency, we've always been ahead of the curve, leading the market with fresh ideas and cutting edge experience.<br><br>

            <header class="section-header">
                About Us
            </header>

            Founded in 2000 by Julie McDonald and Tony Selznick, McDonald Selznick Associates (MSA) is a creative talent agency representing a unique class of artists --  dancers, choreographers, creative directors, producers, educators and social media influencers in the entertainment industry and the arts community.   With more than 25 years of experience, MSA has earned its status as the global leader in its field whose clients have been nominated for and won multiple Tony, Emmy, and MTV awards.<br><br>

            MSA’s creative talent work with the world’s top-grossing and most influential music artists of our time. Our clients have also lent their considerable talents to film, television, commercials, musical theater, spectaculars, and corporate events.  MSA is the first to create an Educators division, with our clients traveling  to every corner of the globe leading sold out master classes.  MSA is in partnership with Relativity Media in their recently established Relativity School  as  the first accredited college offering a BFA degree in Commercial Dance. Always exploring new avenues and growing along with our clients MSA  now represents some of the top social media influencers and content creators in the dance community.
        </div>
    </section>

    <section id="staff" class="twilight">
        <header class="section-header twilight">
            Staff
        </header>

        <div class="app-container">
            <client-roster title="" type="staff" roster="AboutCtrl.staff"></client-roster>
        </div>
    </section>
</div>
