<div ng-init="AboutCtrl.initialize()">
    <section class="about-msa">
        <div class="msa-cities"></div>

        <div class="biography">
            With more than 25 years of experience, McDonald Selznick Associates (MSA) has earned its status as the global leader in its field. We created - and still blaze the trail for - the worldwide representation of choreographers and dancers. MSA also represents some of the finest stage directors, producers, and production designers in the business. For every genre, scale, and venue, we get it right. MSA is the entertainment industry’s one-stop shop for movement and stage production.

            Awards: Our choreographers have been nominated for and won multiple Tony, Emmy, MTV, and American Choreography awards.

            Social Media: MSA is the first agency in its field to fully embrace and exploit "new media". We now have a roster of choreographers famous worldwide in large part from their social media presence. YouTube views number in the tens of millions, and their Instagram followers are into six figures. MSA has created a special niche for this new generation of talent.

            Educators: We are the first dance agency with a dedicated Educators division. Our clients travel to every corner of the globe leading sold out, jam packed master classes. MSA also worked in close collaboration with Relativity Media for the new Relativity School of Dance. We were consultants throughout and beyond its development, along with creating the curriculum and providing faculty.

            Music Tours: MSA clients have directed, choreographed, designed, or performed for the world’s top-grossing and most influential music artists.

            Music Videos: Our clients have choreographed truly iconic music videos from pioneers, along with videos for current superstars and the most promising emerging artists.

            Film: MSA clients have choreographed or performed in an exhaustive list of classics, current hit films, musicals, and animated features.

            Television: MSA clients are at work on every competition reality show, along with creating memtorable moments and performances for sitcoms, youth programming, prime-time dramas and comedies, and every top awards show.

            Commercials/Corporate: Dance sells… just think of all the memorable ad campaigns featuring dance. Our specialty acts and dancers have been featured in corporate shows for a long list of corporations and Fortune 500 companies.

            ALL THE WORLD’S A STAGE: Broadway musicals, National Tours, Plays, Las Vegas residencies, and spectaculars directed and/or choreographed by MSA clients, and featuring MSA dancers, can be seen around the globe.
        </div>
    </section>

    <section id="staff" class="twilight">
        <header class="section-header twilight">
            Staff
        </header>

        <roster-slider title="Los Angeles" roster="AboutCtrl.LAStaff"></roster-slider>
        <roster-slider title="New York" roster="AboutCtrl.NYStaff"></roster-slider>
    </section>
</div>
