<div ng-init="ClientResumeCtrl.getBySlug()">
    <!-- Resume -->
    <sub-section-header title="Resume: {{ ClientResumeCtrl.client.name }}"></sub-section-header>

    <section id="talent-resume" ng-if="ClientResumeCtrl.resumeCount">
        <talent-resume ng-repeat="category in ClientResumeCtrl.client.resume_order"
                       title="{{ ClientResumeCtrl.mapResumeTitleFromCategory(category.category) }}"
                       data="ClientResumeCtrl.client.resume[category.category]">
        </talent-resume>
    </section>
    <!-- End Resume -->
</div>
