<section id="contact-us" class="representation">
    <header class="section-header">
        Get in touch with us
    </header>

    <div id="contact-options" ng-if="!ContactCtrl.showSubmissionMessage">
        <button type="button" ng-class="{active: ContactCtrl.showContactForm}"
                              ng-click="ContactCtrl.toggleContactForms()">Send a message</button>

        <button type="button" ng-class="{active: ContactCtrl.showRepresentationForm}"
                              ng-click="ContactCtrl.toggleContactForms()">Representation</button>
    </div>

    <div id="contact-loader" ng-show="ContactCtrl.isSubmitting">
        <div class="loader"></div>
    </div>

    <div id="contact-message" ng-if="ContactCtrl.showSubmissionMessage && !ContactCtrl.isSubmitting">
        {{ ContactCtrl.submissionMessage }}
    </div>

    <contact-form ng-show="ContactCtrl.showContactForm && !ContactCtrl.isSubmitting && !ContactCtrl.showSubmissionMessage"></contact-form>
    <representation-form ng-show="!ContactCtrl.showContactForm && !ContactCtrl.isSubmitting && !ContactCtrl.showSubmissionMessage"></representation-form>
</section>
