<div ng-init="DirectorsCtrl.get()">
    <section class="twilight">
        <header class="section-header twilight">
            Directors
        </header>

        <div class="section-placeholder-text"
             ng-if="!DirectorsCtrl.stageClients.length && !DirectorsCtrl.creativeClients.length &&
                    !DirectorsCtrl.musicClients.length && !DirectorsCtrl.videoClients.length">
            No current directors
        </div>

        <client-roster title="Stage Directors"
                       type="talent"
                       roster="DirectorsCtrl.stageClients"
                       ng-if="DirectorsCtrl.stageClients.length">
                   </client-roster>

        <client-roster title="Creative Directors"
                       type="talent"
                       roster="DirectorsCtrl.creativeClients"
                       ng-if="DirectorsCtrl.creativeClients.length">
                   </client-roster>

        <client-roster title="Music Directors"
                       type="talent"
                       roster="DirectorsCtrl.musicClients"
                       ng-if="DirectorsCtrl.musicClients.length">
                   </client-roster>

        <client-roster title="Music Video Directors"
                       type="talent"
                       roster="DirectorsCtrl.videoClients"
                       ng-if="DirectorsCtrl.videoClients.length">
                   </client-roster>
    </section>
</div>
