<div ng-init="SocialMediaCtrl.initialize()">
    <media-slider data="SocialMediaCtrl.slides" ng-if="SocialMediaCtrl.slides.length"></media-slider>

    <section class="twilight">
        <header class="section-header twilight">
            Social Media Influencers
        </header>

        <div class="section-placeholder-text" ng-if="!SocialMediaCtrl.clients.influencer && !isLoadingPage">
            No current influencers
        </div>

        <client-roster type="talent"
                       roster="SocialMediaCtrl.clients.influencer"
                       show-social-stats="true"
                       ng-if="SocialMediaCtrl.clients.influencer.length && !isLoadingPage"></client-roster>
    </section>

    <section id="talent-videos" ng-if="SocialMediaCtrl.socialVideos.length">
        <social-media-videos-view
            videos="SocialMediaCtrl.socialVideos">
        </social-media-videos-view>
    </section>

    <social-section hide-icon="true"
                    no-bg="true"
                    twitter="SocialMediaCtrl.socialFeeds.twitter"
                    instagram="SocialMediaCtrl.socialFeeds.instagram">
    </social-section>
</div>
