<div ng-init="SplashCtrl.initialize()">
    <section id="splash-header" resize-element offset-bottom="192">
        <video id="splash-video" autoplay loop muted>
            <source src="https://s3-us-west-1.amazonaws.com/msa-agency-prod/reel/reel-2014.mp4" type="video/mp4">
            <source src="https://s3-us-west-1.amazonaws.com/msa-agency-prod/reel/reel-2014.webm" type="video/webm">
            Your browser does not support the video.
        </video>
        <div id="splash-header-content">
            <a ui-sref="app.home">
                <h1>McDonald / Selznick Associates</h1>
            </a>

            <!-- <h3>Global Leader in Dance and Choreography Representation</h3> -->
        </div>
    </section>

    <section id="splash-connect">
        <a ui-sref="app.home">
            <span>ENTER</span>
        </a>
        <h3 class="MSAFAM-logo">#MSAFAM</h3>

        <social-icons
            facebook="https://www.facebook.com/MSAagency"
            twitter="https://twitter.com/MSAAGENCY"
            instagram="https://instagram.com/msaagency"
            youtube="https://www.youtube.com/user/MSAGlobalLeader"></social-icons>
    </section>

    <section id="splash-feed">
        <figure ng-repeat="media in SplashCtrl.socialFeeds.instagram track by media.id">
            <a ng-href="{{ media.link }}" target="_blank">
                <img ng-src="{{ media.images.standard_resolution.url }}">
                <div class="body">
                    <div class="author">
                        <div class="thumb">
                            <img ng-src="{{ media.user.profile_picture }}">
                        </div>
                        <span class="name">{{ media.user.username }}</span>
                    </div>

                    <figcaption>
                        {{ media.caption.text | limitTo: 200 }}
                    </figcaption>

                    <div class="statistics">
                        <span class="likes">{{ media.likes.count }} likes</span>
                        <!-- <span class="posted">{{ media.created_time | date: 'shortTime' }}</span> -->
                    </div>
                </div>
            </a>
        </figure>
    </section>
</div>
