<div ng-init="StaffCtrl.getBySlug()">
    <talent-header
        name="{{ ::StaffCtrl.member.full_name }}"
        title="{{ ::StaffCtrl.member.title }}"
        social="StaffCtrl.member.social"
        cover-image="StaffCtrl.member.cover_image"
        default-image="StaffCtrl.member.default_image"
        hide-social-icons="true"
        hide-book-btn="true">
    </talent-header>

    <!-- Staff Navigation -->
    <nav class="talent-navigation">
        <div class="app-container">
            <a href="#" ng-class="{active: StaffCtrl.currentNavDestination === 'staff-bio'}"
                       ng-click="StaffCtrl.setCurrentNavDestination('staff-bio')">Biography</a>

            <a href="#" ng-class="{active: StaffCtrl.currentNavDestination === 'staff-photos'}"
                        ng-click="StaffCtrl.setCurrentNavDestination('staff-photos')"
                        ng-if="StaffCtrl.member.photos.length">Photos</a>

            <a href="#" ng-class="{active: StaffCtrl.currentNavDestination === 'staff-videos'}"
                        ng-click="StaffCtrl.setCurrentNavDestination('staff-videos')"
                        ng-if="StaffCtrl.member.videos.length">Videos</a>
        </div>
    </nav>
    <!-- END Staff Navigation -->

    <!-- Biography -->
    <a name="section-staff-bio"></a>
    <sub-section-header title="Biography"></sub-section-header>

    <section id="staff-bio">
        <div class="app-container" ng-if="StaffCtrl.member.biography" ng-bind-html="StaffCtrl.member.biography"></div>

        <div class="app-container no-bio" ng-if="!StaffCtrl.member.biography">
            No current biography
        </div>
    </section>
    <!-- End Biography -->

    <!-- Photos -->
    <a name="section-staff-photos"></a>
    <sub-section-header title="Photos" ng-if="StaffCtrl.member.images.length"></sub-section-header>

    <section id="staff-photos" class="twlight" ng-if="StaffCtrl.member.images.length">
        <div class="app-container">
            <client-image img="img.sizes" group="staffphotos" ng-repeat="img in StaffCtrl.member.images"></client-image>
        </div>
    </section>
    <!-- End Photos -->

    <!-- Videos -->
    <a name="section-staff-videos"></a>
    <sub-section-header title="Videos" ng-if="StaffCtrl.member.videos.length"></sub-section-header>

    <section id="staff-videos">
        <div class="app-container">
            <client-video data="video" ng-repeat="video in StaffCtrl.member.videos"></client-video>
        </div>
    </section>
    <!-- End Videos -->
</div>
