<div ng-init="StaffCtrl.getBySlug()">
    <talent-header
        name="{{ ::StaffCtrl.member.full_name }}"
        title="{{ ::StaffCtrl.member.title }}"
        social="StaffCtrl.member.social"
        cover-image="StaffCtrl.member.cover_image"
        default-image="StaffCtrl.member.default_image"
        hide-social-icons="true"
        hide-book-btn="true">
    </talent-header>
    <talent-navigation></talent-navigation>

    <!-- Biography -->
    <talent-section-header title="Biography"></talent-section-header>
    <section id="talent-bio">
        <div class="app-container" ng-if="StaffCtrl.member.biography" ng-bind-html="StaffCtrl.member.biography"></div>

        <div class="app-container no-bio" ng-if="!StaffCtrl.member.biography">
            No current biography
        </div>
    </section>
    <!-- End Biography -->

    <!-- Photos -->
    <talent-section-header title="Photos" ng-if="StaffCtrl.member.images.length"></talent-section-header>
    <section id="talent-photos" ng-if="StaffCtrl.member.images.length">
        <div class="app-container">
            <client-image img="img.sizes" ng-repeat="img in StaffCtrl.member.images"></client-image>
        </div>
    </section>
    <!-- End Photos -->

    <!-- Videos -->
    <talent-section-header title="Videos"></talent-section-header>
    <talent-videos></talent-videos>
    <!-- End Videos -->
</div>
