<div ng-init="ClientCategoriesCtrl.initialize()">
    <section class="twilight">
        <header class="section-header twilight">
            {{ ::ClientCategoriesCtrl.clientCategory }}
        </header>

        <div ng-switch="ClientCategoriesCtrl.$stateParams.category">
            <div ng-switch-when="creative">
                <ng-include src="'templates/partials/creative_talent_categories.html'"></ng-include>
            </div>
            
            <div ng-switch-default>
                <ng-include src="'templates/partials/default_talent_categories.html'"></ng-include>
            </div>
        </div>
    </section>
</div>
