<div ng-init="ClientCtrl.getBySlug()">
    <talent-header
        name="{{ ::ClientCtrl.client.full_name }}"
        title="{{ ::ClientCtrl.client.title }}"
        basic="::ClientCtrl.client.basic"
        social="ClientCtrl.client.social"
        cover-image="ClientCtrl.client.cover_image"
        default-image="ClientCtrl.client.default_image"
        slug="ClientCtrl.client.slug">
    </talent-header>

    <!-- Talent Navigation -->
    <nav class="talent-navigation" ng-if="!ClientCtrl.client.basic">
        <div class="app-container">
            <a href="#" ng-class="{active: ClientCtrl.currentNavDestination === 'talent-bio'}"
                        ng-click="ClientCtrl.setCurrentNavDestination('talent-bio')"
                        ng-if="ClientCtrl.client.biography">Biography</a>

            <a ng-href="{{ ClientCtrl.clientReelUrl }}"
               class="fancybox"
               ng-class="{active: ClientCtrl.currentNavDestination === 'talent-reel'}"
               ng-if="ClientCtrl.reelPresent">Reel</a>

            <!-- LA Casting Resume -->
            <a ng-href="{{ ClientCtrl.client.la_casting_url }}"
               target="_blank"
               ng-if="ClientCtrl.client.la_casting">Resume</a>
            <!-- End LA Casting Resume -->

            <!-- Internal Resume -->
            <a href="#"
               ng-class="{active: ClientCtrl.currentNavDestination === 'talent-resume'}"
               ng-click="ClientCtrl.setCurrentNavDestination('talent-resume')"
               ng-if="!ClientCtrl.client.la_casting && ClientCtrl.resumeCount">Resume</a>
            <!-- End Internal Resume -->

            <a href="#" ng-class="{active: ClientCtrl.currentNavDestination === 'talent-videos'}"
                        ng-click="ClientCtrl.setCurrentNavDestination('talent-videos')"
                        ng-if="ClientCtrl.client.videos.length">Videos</a>

            <a href="#" ng-class="{active: ClientCtrl.currentNavDestination === 'talent-photos'}"
                        ng-click="ClientCtrl.setCurrentNavDestination('talent-photos')"
                        ng-if="ClientCtrl.client.images.length">Photos</a>

            <a href="#" ng-class="{active: ClientCtrl.currentNavDestination === 'talent-press'}"
                        ng-click="ClientCtrl.setCurrentNavDestination('talent-press')"
                        ng-if="ClientCtrl.client.press.length">Press</a>
        </div>
    </nav>
    <!-- END Talent Navigation -->

    <!-- Biography -->
    <a name="section-talent-bio"></a>
    <sub-section-header title="{{ !ClientCtrl.client.basic ? 'Biography' : '' }}" ng-if="ClientCtrl.client.biography"></sub-section-header>

    <section id="talent-bio" ng-if="ClientCtrl.client.biography">
        <div class="app-container" ng-bind-html="ClientCtrl.client.biography"></div>
    </section>
    <!-- End Biography -->

    <!-- Resume -->
    <a name="section-talent-resume"></a>
    <client-resume-header title="{{ !ClientCtrl.client.basic ? 'Resume' : '' }}" client="ClientCtrl.client" ng-if="ClientCtrl.resumeCount"></client-resume-header>

    <section id="talent-resume" ng-if="ClientCtrl.resumeCount">
        <talent-resume ng-repeat="category in ClientCtrl.client.resume_order"
                       title="{{ ClientCtrl.mapResumeTitleFromCategory(category.category) }}"
                       data="ClientCtrl.client.resume[category.category]"></talent-resume>
    </section>
    <!-- End Resume -->

    <!-- Videos -->
    <a name="section-talent-videos"></a>
    <sub-section-header title="{{ !ClientCtrl.client.basic ? 'Videos' : '' }}" ng-if="::ClientCtrl.client.videos.length"></sub-section-header>

    <section id="talent-videos" ng-if="::ClientCtrl.client.videos.length">
        <div class="app-container">
            <client-video data="video" ng-repeat="video in ClientCtrl.client.videos"></client-video>
        </div>
    </section>
    <!-- End Videos -->

    <!-- Photos -->
    <a name="section-talent-photos"></a>
    <sub-section-header title="{{ !ClientCtrl.client.basic ? 'Photos' : '' }}" ng-if="::ClientCtrl.client.images.length"></sub-section-header>

    <section id="talent-photos" ng-if="::ClientCtrl.client.images.length">
        <div class="app-container">
            <client-image img="img.sizes" group="clientphotos" ng-repeat="img in ClientCtrl.client.images"></client-image>
        </div>
    </section>
    <!-- End Photos -->

    <!-- Press -->
    <a name="section-talent-press"></a>
    <sub-section-header title="{{ !ClientCtrl.client.basic ? 'Press' : '' }}" ng-if="::ClientCtrl.client.press.length"></sub-section-header>

    <section id="talent-press" ng-if="::ClientCtrl.client.press.length">
        <div class="app-container">
            <client-image caption="{{ ::press.caption }}" img="press.sizes" group="clientpress" ng-repeat="press in ClientCtrl.client.press"></client-image>
        </div>
    </section>
    <!-- End Press -->
</div>
