<talent-header></talent-header>

<!-- Biography -->
<talent-section-header title="Biography"></talent-section-header>
<!-- End Biography -->

<!-- Resume -->
<talent-section-header title="Resume"></talent-section-header>
<talent-resume></talent-resume>
<!-- End Resume -->

<!-- Photos -->
<talent-section-header title="Photos"></talent-section-header>
<!-- End Photos -->

<!-- Videos -->
<talent-section-header title="Videos"></talent-section-header>
<!-- End Videos -->

<!-- Press -->
<talent-section-header title="Press"></talent-section-header>
<!-- End Press -->
