<div ng-init="ClientCategoryCtrl.initialize()">
    <section class="twilight">
        <header class="section-header twilight">
            {{ ::ClientCategoryCtrl.category.replace('_', ' ') }}
        </header>

        <div class="section-placeholder-text" ng-if="!ClientCategoryCtrl.clients.length && !isLoadingPage">
            No current clients
        </div>

        <client-roster type="talent"
                       roster="ClientCategoryCtrl.clients"
                       ng-if="ClientCategoryCtrl.clients.length && !isLoadingPage"></client-roster>
    </section>
</div>
