<div ng-init="LegacyCtrl.initialize()">
    <section class="twilight">
        <header class="section-header twilight">
            Remembering a Legacy
        </header>

        <div class="section-placeholder-text" ng-if="!LegacyCtrl.clients.length && !isLoadingPage">
            No current legacy members
        </div>

        <div class="app-container">
            <client-roster title="Legacy"
                           type="talent"
                           roster="LegacyCtrl.clients"
                           ng-if="LegacyCtrl.clients.length"></client-roster>
        </div>
    </section>
</div>
