<div ng-init="ClientCtrl.getBySlug()">
    <talent-header
        name="{{ ::ClientCtrl.client.full_name }}"
        title="{{ ::ClientCtrl.client.title }}"
        social="ClientCtrl.client.social"
        cover-image="ClientCtrl.client.cover_image"
        default-image="ClientCtrl.client.default_image">
    </talent-header>

    <!-- Talent Navigation -->
    <nav class="talent-navigation">
        <div class="app-container">
            <a href="#" ng-class="{active: ClientCtrl.currentNavDestination === 'talent-bio'}"
                        ng-click="ClientCtrl.setCurrentNavDestination('talent-bio')">Biography</a>

            <a href="#" ng-class="{active: ClientCtrl.currentNavDestination === 'reel'}"
                       ng-click="ClientCtrl.setCurrentNavDestination('reel')">Reel</a>

            <a href="#" ng-class="{active: ClientCtrl.currentNavDestination === 'talent-resume'}"
                        ng-click="ClientCtrl.setCurrentNavDestination('talent-resume')"
                        ng-if="ClientCtrl.client.resume.length">Resume</a>

            <a href="#" ng-class="{active: ClientCtrl.currentNavDestination === 'talent-photos'}"
                        ng-click="ClientCtrl.setCurrentNavDestination('talent-photos')"
                        ng-if="ClientCtrl.client.images.length">Photos</a>

            <a href="#" ng-class="{active: ClientCtrl.currentNavDestination === 'talent-videos'}"
                        ng-click="ClientCtrl.setCurrentNavDestination('talent-videos')"
                        ng-if="ClientCtrl.client.videos.length">Videos</a>

            <a href="#" ng-class="{active: ClientCtrl.currentNavDestination === 'talent-press'}"
                        ng-click="ClientCtrl.setCurrentNavDestination('talent-press')"
                        ng-if="ClientCtrl.client.press.length">Press</a>
        </div>
    </nav>
    <!-- END Talent Navigation -->

    <!-- Biography -->
    <a name="section-talent-bio"></a>
    <sub-section-header title="Biography"></sub-section-header>

    <section id="talent-bio">
        <div class="app-container" ng-if="ClientCtrl.client.biography" ng-bind-html="ClientCtrl.client.biography"></div>

        <div class="app-container no-bio" ng-if="!ClientCtrl.client.biography">
            No current biography
        </div>
    </section>
    <!-- End Biography -->

    <!-- Resume -->
    <a name="section-talent-resume"></a>
    <sub-section-header title="Resume"></sub-section-header>

    <section id="talent-resume">
        <talent-resume title="Concerts/Tours/Events" data="ClientCtrl.client.resume.events"></talent-resume>
        <talent-resume title="Television" data="ClientCtrl.client.resume.television"></talent-resume>
        <talent-resume title="Award Shows" data="ClientCtrl.client.resume.award_shows"></talent-resume>
        <talent-resume title="Film" data="ClientCtrl.client.resume.film"></talent-resume>
        <talent-resume title="Commercials" data="ClientCtrl.client.resume.commercials"></talent-resume>
        <talent-resume title="Music Videos" data="ClientCtrl.client.resume.music_videos"></talent-resume>
        <talent-resume title="Corporate" data="ClientCtrl.client.resume.corporate"></talent-resume>
        <talent-resume title="Miscellaneous" data="ClientCtrl.client.resume.miscellaneous"></talent-resume>
        <talent-resume title="Awards" data="ClientCtrl.client.resume.awards"></talent-resume>
    </section>
    <!-- End Resume -->

    <!-- Photos -->
    <a name="section-talent-photos"></a>
    <sub-section-header title="Photos"></sub-section-header>

    <section id="talent-photos">
        <div class="app-container">
            <client-image img="img.sizes" group="clientphotos" ng-repeat="img in ClientCtrl.client.images"></client-image>
        </div>
    </section>
    <!-- End Photos -->

    <!-- Videos -->
    <a name="section-talent-videos"></a>
    <sub-section-header title="Videos"></sub-section-header>

    <section id="talent-videos">
        <div class="app-container">
            <client-video data="video" ng-repeat="video in ClientCtrl.client.videos"></client-video>
        </div>
    </section>
    <!-- End Videos -->

    <!-- Press -->
    <a name="section-talent-press"></a>
    <sub-section-header title="Press"></sub-section-header>

    <section id="talent-press">
        <div class="app-container">
            <client-image caption="{{ ::press.caption }}" img="press.sizes" group="clientpress" ng-repeat="press in ClientCtrl.client.press"></client-image>
        </div>
    </section>
    <!-- End Press -->
</div>
