<client-roster title="Choreographers"
               type="talent"
               roster="ClientCategoriesCtrl.choreographyClients"
               ng-if="ClientCategoriesCtrl.choreographyClients.length"
               slider="true"></client-roster>

<client-roster title="Stage Directors"
               type="talent"
               roster="ClientCategoriesCtrl.stageDirectorsClients"
               ng-if="ClientCategoriesCtrl.stageDirectorsClients.length"
               slider="true"></client-roster>

<client-roster title="Creative Directors"
               type="talent"
               roster="ClientCategoriesCtrl.creativeDirectorsClients"
               ng-if="ClientCategoriesCtrl.creativeDirectorsClients.length"
               slider="true"></client-roster>

<client-roster title="Producers"
               type="talent"
               roster="ClientCategoriesCtrl.productionClients"
               ng-if="ClientCategoriesCtrl.productionClients.length"
               slider="true"></client-roster>

<client-roster title="Designers"
               type="talent"
               roster="ClientCategoriesCtrl.designerClients"
               ng-if="ClientCategoriesCtrl.designerClients.length"
               slider="true"></client-roster>

<client-roster title="Music Directors"
          type="talent"
          roster="ClientCategoriesCtrl.designerClients"
          ng-if="ClientCategoriesCtrl.designerClients.length"
          slider="true"></client-roster>


<client-roster title="Music Video Directors"
          type="talent"
          roster="ClientCategoriesCtrl.designerClients"
          ng-if="ClientCategoriesCtrl.designerClients.length"
          slider="true"></client-roster>
