@import 'variables';

.animated-input {
    position: relative;
    padding-top: 12px;

    input {
        background: none;
        width: 100%;
        color: #252525;
        font-size: 16px;
        border: none;
        border-bottom: 2px #d7d7d7 solid;
        padding: 10px 6px;
        box-sizing: border-box;
        transition: border $transition-duration $transition-easing;

        &:focus {
            border-bottom-color: $msa-orange;
        }
    }

    &.ng-invalid-required {
        input {
            &.ng-touched {
                border-bottom-color: red;
            }
        }
    }

    span.placeholder {
        position: absolute;
        top: 21px;
        left: 6px;
        text-transform: uppercase;
        transition: all $transition-duration $transition-easing;
    }

    &.active {
        span.placeholder {
            top: 0;
            color: $msa-orange;
            font-size: 12px;
        }
    }
}
