@import 'variables';
@import 'mixins';

#contact-options {
    max-width: 440px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 30px auto;

    button {
        background: #000;
        color: #FFF;
        width: 100%;
        font-size: 14px;
        padding: 10px 20px;
        text-transform: uppercase;
        cursor: pointer;
        border: none;

        &:nth-child(1) {
            margin-right: 10px;
        }

        &:nth-last-child(1) {
            margin-left: 10px;
        }

        &.active {
            background: $msa-orange;
        }
    }
}

// Contact forms
section#contact-us {
    max-width: 440px;
    padding: 0 20px 40px 20px;
    margin: auto;

    &.representation {
        max-width: 600px;
    }

    input {
        margin-bottom: 10px;
    }

    #contact-loader {
        margin: 100px 0;
    }

    #contact-message {
        font-size: 30px;
        text-align: center;
        margin: 100px 0;
    }

    span.contact-form-notice {
        color: #727272;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        display: block;
        padding-bottom: 10px;
        clear: both;

        &.section-title {
            padding: 20px 0;
        }

        .client-name {
            color: $msa-orange;
        }
    }

    .contact-form {
        .form-errors {
            background: #D40;
            border-radius: 6px;
            padding: 10px;
            margin-bottom: 10px;

            ul {
                padding: 0 20px;
                margin: 0;

                li {
                    color: #FFF;
                }
            }
        }

        form {
            select {
                background: none;
                width: 100%;
                color: #252525;
                font-size: 16px;
                border: none;
                border-bottom: 2px #d7d7d7 solid;
                padding: 10px 6px;
                box-sizing: border-box;
                appearance: none;
                outline: none;
                border-radius: 0;
            }

            .split-column {
                &> input[type='file'], .animated-input {
                    width: 48%;

                    &:nth-child(odd) {
                        float: left;
                    }

                    &:nth-child(even) {
                        float: right;
                    }
                }
            }

            .representation-option {
                float: left;
                width: 50%;

                input[type='checkbox'] {
                    margin-right: 6px;
                }
            }

            button {
                background: $secondary-grey;
                color: #FFF;
                width: 100%;
                font-size: 14px;
                text-transform: uppercase;
                border: none;
                cursor: pointer;
                padding: 14px 0;
                opacity: 1;
                transition: opacity $transition-duration $transition-easing;

                &:disabled {
                    opacity: 0.5;
                }

                &.submitting {
                    color: lighten($secondary-grey, 50%);
                    background: image-url('btn-loader.gif') center no-repeat;
                    background-color: lighten($secondary-grey, 50%);
                    text-align: center;
                }
            }
        }
    }
}

// Office locations
section#office-locations {
    background: #f47820 image-url('office-locations-bg.jpg') no-repeat;
    background-size: cover;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    padding: 20px 40px 40px;

    header.section-header {
        &:before {
            border-top-color: $contact-office-locations-font-secondary-color;
        }

        &:after {
            border-top-color: $contact-office-locations-font-secondary-color;
        }
    }

    div.address {
        width: 50%;
        display: inline-block;
        margin-bottom: 20px;

        h3 {
            color: $contact-office-locations-font-secondary-color;
            font-size: 20px;
        }
    }

    @include responsive-phone-retina() {
        white-space: normal;

        div.address {
            width: 100%;
        }
    }

    @include responsive-phones() {
        white-space: normal;

        div.address {
            width: 100%;
        }
    }
}
