@import 'variables';

// Media slider
section.media-slider {
    background: #000;
    height: 480px;
}

// Newsletter widget
div.newsletter-widget {
    position: relative;
    background: #2f2f2f;
    color: #FFF;
    border-radius: 6px;

    h5 {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: $font-primary-weight-thin;
    }

    h6 {
        font-size: 14px;
    }

    form {
        margin: 16px 0 0 0;
        padding: 0;

        input {
            background: #1c1c1c;
            width: 100%;
            color: #787878;
            font-size: 14px;
            padding: 12px;
            border: 2px #1c1c1c solid;
            box-sizing: border-box;
            transition: border 0.4s ease-in-out;

            &:focus {
                border-color: #595959;
            }
        }

        button {
            background: $msa-orange;
            color: #FFF;
            width: 100%;
            font-size: 16px;
            border: none;
            padding: 8px;
            margin-top: 10px;
            cursor: pointer;
        }
    }

    span.bottom-notice {
        position: absolute;
        bottom: 10px;
        color: #a6a6a6;
        font-size: 12px;
    }
}

// Social feeds
.social-feed {
    .connect-bar {
        position: relative;
        background: #202020;
        height: 34px;
        padding: 4px;
        text-align: center;

        .username {
            color: $sub-heading-grey;
            margin-top: 6px;
            display: block;
        }

        a.follow-us {
            position: absolute;
            top: 4px;
            right: 4px;
            height: 34px;
            background: $msa-orange;
            color: $secondary-font-color;
            font-size: 14px;
            text-decoration: none;
            text-transform: uppercase;
            padding: 0 16px;

            &:before {
                content: ' ';
                margin-top: 8px;
                display: block;
            }
        }
    }
}
