@import 'variables';
@import 'mixins';

// Media slider
section.media-slider {
    background: #000;
    height: 480px;
}

// Newsletter widget
div.newsletter-widget {
    position: relative;
    background: #2f2f2f;
    color: #FFF;
    border-radius: 6px;

    h5 {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: $font-primary-weight-thin;
    }

    h6 {
        font-size: 14px;
    }

    form {
        margin: 16px 0 0 0;
        padding: 0;

        input {
            background: #1c1c1c;
            width: 100%;
            color: #787878;
            font-size: 14px;
            padding: 12px;
            border: 2px #1c1c1c solid;
            box-sizing: border-box;
            transition: border 0.4s ease-in-out;

            &:focus {
                border-color: #595959;
            }
        }

        button {
            background: $msa-orange;
            color: #FFF;
            width: 100%;
            font-size: 16px;
            border: none;
            padding: 8px;
            margin-top: 10px;
            cursor: pointer;
        }
    }

    span.bottom-notice {
        position: absolute;
        bottom: 10px;
        color: #a6a6a6;
        font-size: 12px;
    }
}

// Social feeds
.social-feed {
    .connect-bar {
        position: relative;
        background: #202020;
        height: 34px;
        padding: 4px;
        text-align: center;

        .username {
            color: $sub-heading-grey;
            margin-top: 6px;
            display: block;
        }

        a.follow-us {
            position: absolute;
            top: 4px;
            right: 4px;
            height: 34px;
            background: $msa-orange;
            color: $secondary-font-color;
            font-size: 14px;
            text-decoration: none;
            text-transform: uppercase;
            padding: 0 16px;

            &:before {
                content: ' ';
                margin-top: 8px;
                display: block;
            }
        }
    }
}

// Dark section
section.twilight {
    background: url('/assets/twilight-bg.jpg') no-repeat;
    background-size: cover;
    padding: 40px 0;
}

// Roster slider
.roster-slider {
    margin-bottom: 50px;

    span.title {
        color: $msa-orange;
        font-size: 20px;
        margin: 20px 60px;
        display: block;
    }

    .roster {
        background: #2d2d2d;

        ul {
            max-height: $roster-slider-height;
            margin: 0;
            padding: 0;
            white-space: nowrap;

            li {
                width: (100% / 6);
                text-align: center;
                display: inline-block;
                vertical-align: top;
                list-style: none;
                transform-style: preserve-3d;
                transition: all 0.4s ease-in-out;

                .thumbnail {
                    position: relative;
                    background: #000;
                    width: 100%;
                    height: $roster-slider-height;
                    overflow: hidden;
                    text-decoration: none;
                    display: block;

                    img {
                        position: absolute;
                        left: 0;
                        width: 100%;
                        min-height: $roster-slider-height;
                    }

                    .overlay {
                        position: relative;
                        white-space: normal;
                        display: none;

                        .arrow {
                            @include background-image('enter-arrow');
                            background-repeat: no-repeat;
                            background-position: 11px 11px;
                            width: 18px;
                            height: 18px;
                            padding: 10px;
                            border: 2px #FFF solid;
                            border-radius: 100px;
                            margin: 20px auto 8px auto;
                            display: block;
                        }

                        .overlay-name {
                            color: #FFF;
                            font-size: 14px;
                            text-transform: uppercase;
                            display: block;
                        }

                        .overlay-position {
                            color: #a4a4a4;
                            font-size: 14px;
                            padding: 0 10px;
                        }

                        .overlay-name, .overlay-position {
                            text-shadow: 0 0 6px #000;
                        }
                    }
                }

                .name {
                    position: absolute;
                    width: 100%;
                    color: #FFF;
                    font-size: 14px;
                    text-transform: uppercase;
                    display: block;
                    margin-top: 10px;
                }

                // Hover state
                &:hover {
                    width: $roster-spotlight-calc;
                    margin-left: -20px;

                    .thumbnail {
                        position: relative;
                        height: 140px;

                        img {
                            @include opacity(0.5);
                        }
                    }

                    .thumbnail .overlay {
                        display: block;
                    }

                    .name {
                        visibility: hidden;
                    }
                }
            }
        }
    }
}
