@import 'variables';
@import 'mixins';

section#msa-slogan {
    background: $primary-grey;
    padding: 30px 0;

    h2 {
        color: $msa-orange;
        text-align: center;
        font-size: 26px;
        font-weight: $font-primary-weight;
    }
}

section#get-social {
    background: $primary-grey;
    color: #FFF;
    padding: 30px 0;

    header {
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        padding: 10px 0 30px 0;

        i {
            @include background-image('social-header-icon');
            width: 96px;
            height: 96px;
            overflow: hidden;
            display: block;
            margin: 0 auto 10px;
        }
    }

    .social-feeds {
        display: flex;
        justify-content: space-between;

        > div {
            max-width: 50%;
            flex-grow: 1;

            &:nth-child(1) {
                margin-right: 10px;
            }

            &:nth-child(2) {
                margin-left: 10px;
            }

            article {
                min-height: 60px;
                padding: 10px 0;
                border-bottom: 1px #575757 solid;

                figure {
                    float: left;
                    width: 60px;
                    height: 60px;
                    overflow: hidden;
                    margin: 0;

                    img {
                        width: 60px;
                        min-height: 60px;
                    }
                }

                .tweet {
                    font-size: 14px;
                    margin-left: 70px;

                    span {
                        &.timestamp {
                            float: right;
                        }

                        &.author {
                            width: 100%;
                            display: block;
                            margin-bottom: 6px;
                        }

                        &.author, &.timestamp {
                            color: #a9a9a9;
                        }
                    }

                    a {
                        color: #f28a00;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}


a.more-news {
    background: $sub-heading-grey;
    padding: 10px 12px;
    border-radius: 6px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    margin: 20px auto 40px auto;
    display: block;
    transition: background $transition-duration $transition-easing;

    &:hover {
        background: #000;
    }
}
