@import 'variables';

/*
  - Client: MSA Agency
  - Author: iamcutler
*/

/* 1.0 Globals  */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

// Social icons
ul.social-icons {
  height: 38px;
  margin: 0;
  
  li {
    float: left;
    width: 38px;
    height: 38px;
    list-style: none;
    margin-left: 10px;
    
    a {
      background: url('social-icons.png') no-repeat;
      background: url('social-icons.svg') no-repeat;
      width: 38px;
      height: 38px;
      border: 2px $msa-orange solid;
      border-radius: 100px;
      transition: background-color .5s;
      display: block;
      overflow: hidden;
      text-index: -9999px;
      
      &:hover {
        background-color: $msa-orange;
      }
    }
    
    &.facebook {
      a {
        background-position: 14px center;
      }
    }
    &.twitter {
      a {
        background-position: -20px center;
      }
    }
    &.instagram {
      a {
        background-position: -58px center;
      }
    }
    &.youtube {
      a {
        background-position: -95px center;
      }
    }
  }
}

/* 2.0 Header */
header {
  &.main {
    background: #1c1c1c;
    color: #FFF;
    height: 112px;

    a.nav {
      background: #252525;
      color: #FFF;
      width: 112px;
      height: 112px;
      font-size: 10px;
      text-decoration: none;
      display: block;

      .nav-btn {
        width: 30px;
        text-align: center;
        padding: 38px;

        .nav-lines {
          height: 20px;
          margin-bottom: 6px;

          .line {
            background: #FFF;
            height: 4px;

            &:nth-child(2) {
              margin: 4px 0;
            }
          }
        }
      }
    }

    // Logo
    h1 {
      position: fixed;
      top: 22px;
      left: 144px;

      a {
        background: url('brand.png') no-repeat;
        background: url('brand.svg') no-repeat;
        width: 130px;
        height: 68px;
        overflow: hidden;
        display: block;
        text-indent: -9999px;
      }
    }

    // Tagline
    h2 {
      position: fixed;
      top: 38px;
      left: 50%;
      background: #252525;
      width: 360px;
      font-size: 16px;
      padding: 10px 0 10px 20px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 14px;
      margin-left: -180px;
    }
    
    .right-col {
      position: fixed;
      top: 8px;
      right: 20px;
      text-align: right;
      
      ul.contact-numbers {
        margin: 0;
        
        li {
          list-style: none;
          
          span {
            color: #FFF;
          }
          
          a {
            color: $msa-orange;
            text-decoration: none;
          }
        }
      }
      
      ul.social-icons {
        margin-top: 10px;
      }
    }
  }
}

/* 3.0 Footer */
footer {
  &.main {
    background: #1c1c1c;
    padding-top: 20px;
    font-size: 12px;
    text-transform: uppercase;
    
    .credit-bar {
      background: #000;
      color: #FFF;
      margin-top: 20px;
      padding: 30px 20px;
    }
    
    .powered-by {
      float: right;
      
      a {
        color: $msa-orange;
        text-decoration: none;
      }
    }
  }
}