@import 'variables';
@import 'mixins';

/*
- Client: MSA Agency
- Author: iamcutler
*/

/* 1.0 Globals  */
html, body {
    background: $background-color;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $font-primary, sans-serif;
    font-weight: 400;
    font-size: $font-size;

    main {
        overflow-x: hidden;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

input, textarea, button {
    outline: none;
}

.clearfix {
    clear: both;
}

// Page loader
.page-loader {
    background: image-url('loader-1-64x64.gif') center no-repeat;
    width: 64px;
    height: 0;
    display: block;
    margin: auto;
    padding: 0;
    transition: all 0.5s ease-in-out;

    &.white {
        background-image: image-url('loader-1-64x64-white.gif');
    }

    &.loading {
        height: 64px;
        padding: 120px 0;
    }
}

// Main content
html main, body main {
    margin-top: $header-height;
}

// Application container
.app-container {
    max-width: $media-desktop-width;
    padding: 0 20px;
    margin: 0 auto;
}

// Social icons
ul.social-icons {
    height: 38px;
    margin: 0;
    padding: 0;

    li {
        width: 38px;
        height: 38px;
        list-style: none;
        margin-left: 10px;
        display: inline-block;

        a {
            background: image-url('social-icons.png') no-repeat;
            background: image-url('social-icons.svg') no-repeat;
            width: 38px;
            height: 38px;
            border: 2px $msa-orange solid;
            border-radius: 100px;
            transition: background-color .5s;
            display: block;
            overflow: hidden;
            text-index: -9999px;

            &:hover {
                background-color: $msa-orange;
            }
        }

        &.website {
            a {
                background-position: -126px center;
            }
        }

        &.facebook {
            a {
                background-position: 14px center;
            }
        }
        &.twitter {
            a {
                background-position: -20px center;
            }
        }
        &.instagram {
            a {
                background-position: -58px center;
            }
        }
        &.youtube {
            a {
                background-position: -95px center;
            }
        }
    }
}

// Loader
.loader {
    background: image-url('loader-1-64x64.gif') no-repeat;
    width: 64px;
    height: 64px;
    overflow: hidden;
    display: block;
    margin: auto;
}

/* 2.0 Header */
header {
    font-weight: $font-primary-weight-thin;

    &.main {
        position: fixed;
        background: rgba(28,28,28,1);
        top: 0;
        left: 0;
        color: #FFF;
        width: 100%;
        height: $header-height;
        z-index: 10;
        transition: background $transition-duration $transition-easing;

        // Transparent BG secondary class
        &.transparent {
            background: rgba(28,28,28,0.8);
        }

        // Logo
        h1 {
            position: absolute;
            top: 22px;
            left: 50%;
            margin-left: -65px;

            a {
                background: image-url('brand.png') no-repeat;
                background: image-url('brand.svg') no-repeat;
                width: 130px;
                height: 68px;
                overflow: hidden;
                display: block;
                text-indent: -9999px;
            }
        }

        @include responsive-phone-retina() {
            h1.logo {
                display: none;
            }

            h2 {
                display: none;
            }
        }

        // Tagline
        h2 {
            position: absolute;
            top: 38px;
            left: 50%;
            background: #252525;
            width: 360px;
            font-size: 16px;
            padding: 10px 0 10px 20px;
            font-weight: 300;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 14px;
            margin-left: -180px;
        }

        .right-col {
            position: absolute;
            top: 8px;
            right: 20px;
            text-align: right;

            ul.contact-numbers {
                margin: 0;

                li {
                    list-style: none;

                    span {
                        color: #FFF;
                    }

                    a {
                        color: $msa-orange;
                        text-decoration: none;
                    }
                }
            }

            ul.social-icons {
                margin-top: 10px;
            }

            // Search bar
            form[id="search-bar"] {
                margin: 30px 6px 16px;

                input[type="search"] {
                    background: $secondary-grey image-url('search-icon.png') 12px 8px no-repeat;
                    background: $secondary-grey image-url('search-icon.svg') 12px 8px no-repeat;
                    color: #FFF;
                    width: 186px;
                    border: 2px #252525 solid;
                    font-size: 14px;
                    padding: 6px 6px 6px 28px;
                    font-weight: $font-primary-weight-thin;
                    outline: none;
                    transition: border .4s ease-in-out;
                    appearance: none;

                    &:focus {
                        border-color: #595959;
                    }

                    &::-webkit-input-placeholder { color: #FFF; }
                    &::-moz-placeholder { color: #FFF; }
                    &:-ms-input-placeholder { color: #FFF; }
                    &:-moz-placeholder { color: #FFF; }
                }
            }
        }
    }
}

/* 3.0 Navigation */
nav#sidebar-nav {
    position: fixed;
    top: 0;
    left: -$sidebar-width;
    font-weight: $font-primary-weight-thin;
    transition: left .5s ease-in-out;
    z-index: 10;

    // Open sidebar
    &.open {
        left: 0;

        // Allow sub menu only when open is active
        .main-links ul li > ul {
            display: block !important;
        }
    }

    .nav-btn {
        position: absolute;
        background: #252525;
        left: $sidebar-width;
        color: #FFF;
        width: 112px;
        height: 112px;
        font-size: 10px;
        text-decoration: none;
        display: block;
    }

    .btn {
        width: 30px;
        text-align: center;
        padding: 38px;

        .nav-lines {
            height: 20px;
            margin-bottom: 6px;

            .line {
                background: #FFF;
                height: 4px;

                &:nth-child(2) {
                    margin: 4px 0;
                }
            }
        }
    }

    .nav-sidebar {
        background: $primary-grey;
        width: $sidebar-width;
        height: 100vh;

        @include responsive-phone-retina() {
            overflow-y: auto;
        }

        @include responsive-phones() {
            overflow-y: auto;
        }

        // Logo
        .brand {
            background: $msa-orange;
            height: $header-height;

            a {
                position: relative;
                top: 20px;
                left: 40px;
                background: image-url('brand.png') no-repeat;
                background: image-url('brand.svg') no-repeat;
                width: 130px;
                height: 68px;
                overflow: hidden;
                display: block;
                text-indent: -9999px;
            }
        }

        // Main navigation links
        .main-links {
            ul {
                margin: 20px 0 0;
                padding: 0;

                li {
                    list-style: none;

                    a {
                        color: #e2e2e2;
                        padding: 8px 22px;
                        text-decoration: none;
                        text-transform: uppercase;
                        display: block;
                        white-space: nowrap;
                        transition: background .5s;

                        &:hover {
                            background: $secondary-grey;
                        }
                    }

                    &:hover {
                        > a {
                            background: $secondary-grey;
                        }
                    }

                    &:hover {
                        > ul {
                            width: 208px;

                            @include responsive-phone-retina() {
                                width: inherit;
                            }

                            @include responsive-phones() {
                                width: inherit;
                            }
                        }
                    }

                    > ul {
                        position: absolute;
                        background: $secondary-grey;
                        top: $header-height;
                        left: 216px;
                        width: 0;
                        height: 100vh;
                        margin: 0;
                        padding-left: 0;
                        overflow: hidden;
                        display: none;
                        transition: width 0.4s ease-in-out;

                        li a:hover {
                            background: $msa-orange;
                        }

                        // Menu spacing
                        &.about-us {
                            padding-top: 55px;
                        }

                        &.talent {
                            padding-top: 126px;
                        }

                        &.creative {
                            padding-top: 160px;
                        }

                        &.educators {
                            padding-top: 195px;
                        }

                        @include responsive-phone-retina() {
                            position: inherit;
                            top: inherit;
                            left: inherit;
                            width: inherit;
                            height: inherit !important;
                            display: block;
                            padding: 6px 0 !important;
                        }

                        @include responsive-phones() {
                            position: inherit;
                            top: inherit;
                            left: inherit;
                            width: inherit;
                            height: inherit !important;
                            display: block;
                            padding: 6px 0 !important;
                        }
                    }
                }
            }
        }
    }
}

/* 4.0 Sections */
header.section-header {
    font-size: $section-header-font-size;
    text-align: center;
    text-transform: uppercase;
    margin: 30px auto;
    padding: 6px 0;

    &:before, &:after {
        width: 140px;
        content: ' ';
        border-top: 3px #d7d7d7 solid;
        display: block;
        margin: 0 auto 8px auto;
    }

    &:after {
        margin: 8px auto 0 auto;
    }

    &.twilight {
        color: #FFF;

        &:before, &:after {
            border-color: #1f1f1f;
        }
    }
}

/* 5.0 Footer */
footer {
    font-weight: $font-primary-weight-thin;

    &.main {
        position: relative;
        background: #1c1c1c;
        padding-top: 20px;
        text-transform: uppercase;

        // Go to top button
        .go-to-top-btn {
            position: absolute;
            top: -28px;
            right: 20px;
            background: image-url('top-btn.png') no-repeat;
            width: 66px;
            height: 66px;
            cursor: pointer;
            overflow: hidden;
            display: block;
        }

        .app-container {
            padding: 20px 20px 30px 20px;
        }

        .app-container > div {
            display: inline-block;
        }

        .addresses {
            float: left;
            width: 50%;

            .address {
                color: #898989;
                text-align: center;

                &:nth-child(1) {
                    margin-bottom: 20px;
                }

                span.location {
                    color: #e68504;
                }
            }
        }

        .navigation {
            float: right;
            width: 40%;

            ul {
                margin: 0;
                padding-left: 20px;
                vertical-align: top;
                display: inline-block;

                li {
                    color: #e2e2e2;
                    list-style: none;

                    a {
                        color: #e2e2e2;
                        text-decoration: none;
                    }

                    &.sub {
                        a {
                            color: #a7a7a7;
                            font-size: 16px;
                            text-transform: lowercase;
                        }
                    }
                }
            }
        }

        .credit-bar {
            background: #000;
            color: #FFF;
            font-size: 12px;
            margin-top: 20px;
            padding: 30px 20px;
        }

        .powered-by {
            float: right;

            a {
                color: $msa-orange;
                text-decoration: none;
            }
        }

        ul.social-icons {
            position: absolute;
            bottom: 20px;
            left: 50%;
            margin-left: -100px;
        }

        @include responsive-tablets() {
            ul.social-icons {
                display: none;
            }
        }

        @include responsive-phones() {
            ul.social-icons {
                display: none;
            }
        }

        @include responsive-phone-retina() {
            .app-container {
                padding-bottom: 0;

                div.addresses {
                    width: 100%;
                }

                div.navigation {
                    display: none;
                }
            }

            .credit-bar {
                text-align: center;

                span {
                    float: none;
                    display: block;

                    &:nth-child(1) {
                        margin-bottom: 10px;
                    }
                }
            }

            ul.social-icons {
                display: none;
            }
        }
    }
}
