@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

$fallback-extension: 'png' !default;
$retina-suffix: '@2x';
@mixin background-image($name, $size:false){
    background-image: image-url('#{$name}.svg');
    @if($size){
        background-size: $size;
    }
    .no-svg &{
        background-image: image-url('#{$name}.#{$fallback-extension}');

        @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
          background-image: image-url('#{$name}#{$retina-suffix}.#{$fallback-extension}');
        }
    }
}

// Responsive
@mixin responsive-phone-retina() {
    @media only screen and (min-width : 320px) and (max-width: 480px) {
        @content;
    }
}

@mixin responsive-phones() {
    @media only screen and (min-width : 480px) and (max-width: 768px) {
        @content;
    }
}

@mixin responsive-iphone6() {
    @media only screen and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2) {
        @content;
    }
}

@mixin responsive-tablets() {
    @media only screen and (min-width : 768px) and (max-width: 992px) {
        @content;
    }
}

@mixin responsive-desktops() {
    @media only screen and (min-width : 992px) and (max-width: 1200px) {
        @content;
    }
}

@mixin responsive-wide() {
    @media only screen and (min-width : 1200px) {
        @content;
    }
}

// Mobile
@mixin mobile-apple-mini-ipad() {
    @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (-webkit-min-device-pixel-ratio: 1) {
            @content;
    }
}

@mixin mobile-apple-ipad-mini-portrait() {
    @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation: portrait)
        and (-webkit-min-device-pixel-ratio: 1) {
            @content;
    }
}

@mixin mobile-apple-ipad-mini-landscape() {
    @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation: landscape)
        and (-webkit-min-device-pixel-ratio: 1) {
            @content;
    }
}

@mixin mobile-apple-ipad-1-2() {
    @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (-webkit-min-device-pixel-ratio: 1) {
            @content;
    }
}

@mixin mobile-apple-ipad-1-2-portrait() {
    @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation: portrait)
        and (-webkit-min-device-pixel-ratio: 1) {
            @content;
    }
}

@mixin mobile-apple-ipad-1-2-landscape() {
    @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation: landscape)
        and (-webkit-min-device-pixel-ratio: 1) {
            @content;
    }
}

@mixin mobile-apple-ipad-3-4() {
    @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (-webkit-min-device-pixel-ratio: 2) {
            @content;
    }
}

@mixin mobile-apple-ipad-3-4-portrait() {
    @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation: portrait)
        and (-webkit-min-device-pixel-ratio: 2) {
            @content;
    }
}

@mixin mobile-apple-ipad-3-4-landscape() {
    @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation: landscape)
        and (-webkit-min-device-pixel-ratio: 2) {
            @content;
    }
}
