@import 'mixins';

@include responsive-phone-retina() {
    // MSA news
    section#msa-news {
        margin: auto !important;

        div.articles {
            article {
                width: 100%;
            }

            div.newsletter-widget {
                width: 100% !important;

                form {
                    margin-bottom: 20px;
                }
            }
        }
    }

    // Home social section
    section#get-social {
        .social-feeds {
            flex-direction: column;

            .social-feed {
                max-width: 100%;
                margin: 0 !important;

                &:nth-child(1) {
                    margin-bottom: 10px !important;
                }
            }
        }
    }

    // About section
    section {
        &.about-msa {
            display: block;

            & > div {
                width: 100%;
                box-sizing: border-box;
            }
        }
    }

    // Media slider
    .roster-slider {
        span.title {
            margin: 20px !important;
        }

        .roster {
            background: none;

            .navigation {
                display: none;
            }

            .thumbs {
                height: inherit;
                margin: 0;

                ul {
                    position: inherit;
                    max-height: none;
                    white-space: normal;

                    li {
                        width: (100% / 2);
                        height: inherit;
                        padding-bottom: 80px;

                        // Hover state
                        &:hover {
                            width: (100% / 2);
                            margin-left: inherit;

                            .thumbnail {
                                position: inherit;
                                height: 120px;
                                max-height: 120px;
                                overflow: hidden;

                                img {
                                    @include opacity(1);
                                }
                            }

                            .thumbnail .overlay {
                                display: none !important;
                            }

                            span.name {
                                visibility: inherit;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include responsive-phones() {
    // Main header
    header.main {
        h2 {
            display: none;
        }
    }

    // MSA news
    section#msa-news {
        margin: auto !important;

        div.articles {
            article {
                width: 100%;
            }

            div.newsletter-widget {
                width: 100% !important;

                form {
                    margin-bottom: 20px;
                }
            }
        }
    }

    // Home social section
    section#get-social {
        .social-feeds {
            flex-direction: column;

            .social-feed {
                max-width: 100%;
                margin: 0 !important;

                &:nth-child(1) {
                    margin-bottom: 10px !important;
                }
            }
        }
    }

    // Main footer
    footer.main {
        .app-container {
            padding-bottom: 0;

            div.addresses {
                width: 100%;
            }

            div.navigation {
                display: none;
            }
        }
    }
}

@include responsive-tablets() {
    // Main header
    header.main {
        h2 {
            top: 26px;
            width: 200px;
            margin-left: -90px;
            display: block;
        }
    }

    // Main footer
    footer.main {
        .app-container {
            padding: 20px;

            div.addresses {
                font-size: 14px;
            }

            div.navigation {
                ul {
                    li {
                        a {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@include responsive-desktops() {
    // Main header
    header.main {
        h2 {
            top: 38px;
            width: 360px;
            margin-left: -180px;
            display: block;
        }
    }
}
