@import 'variables';

section#msa-news {
    max-width: $media-desktop-width;
    margin: auto;

    div.articles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        article {
            margin-bottom: 30px;
        }

        div.newsletter-widget {
            width: 270px;
            padding: 14px;
            margin-bottom: 30px;
            box-sizing: border-box;
        }
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            display: inline-block;
            margin: 15px;

            &:nth-child(1) {
                width: 570px;
            }
        }
    }
}

article.news-article {
    position: relative;
    background: #FFF;
    width: 270px;
    border-radius: 6px;
    overflow-x: hidden;

    &:hover {
        // Scale image on article hover
        figure img {
            width: 120%;
        }
    }

    figure {
        height: 200px;
        overflow: hidden;
        padding: 0;
        margin: 0;

        img {
            width: 100%;
            min-height: 100%;
            transition: all 0.4s ease-in-out;
        }
    }

    header {
        padding: 10px 20px;

        h1 {
            color: $msa-orange;
        }
    }

    p {
        height: 140px;
        font-size: 14px;
        padding: 0 20px;
        margin: 0;
        text-align: justify;
        overflow: hidden;
    }

    footer {
        height: 44px;
        padding: 0 20px;

        time {
            color: #868686;
            font-size: 12px;
            padding: 16px 0 0 0;
            display: inline-block;
            font-weight: $font-primary-weight;
        }

        a.view-more {
            position: absolute;
            bottom: 0;
            right: 0;
            background: $msa-orange;
            color: #FFF;
            font-size: 12px;
            text-decoration: none;
            text-transform: uppercase;
            padding: 10px 16px;
            border-top-left-radius: 6px;
            border-bottom-right-radius: 6px;
            transition: background 0.4s ease-in-out;

            &:hover {
                background: $primary-grey;
            }
        }
    }

    // Spotlight article
    &.spotlight {
        width: 580px;
    }
}

section#news-articles {
    padding: 40px 0;

    #result-count {
        width: 100%;
        padding: 10px 0;
        display: block;
        border-bottom: 1px #CCC solid;
    }

    #no-results {
        text-align: center;
        padding: 80px 0;
    }

    article {
        min-height: 155px;
        padding: 20px 0;
        border-top: 1px #CCC solid;
        clear: both;

        &:nth-child(1) {
            border-top: none !important;
        }

        &:nth-last-child(1) {
            border-bottom: 1px #CCC solid;
        }

        figure {
            float: left;
            width: 225px;
            height: 155px;
            margin: 0 20px 20px 0;
            overflow: hidden;

            img {
                width: 100%;
                min-height: 100%;
            }
        }

        header {
            margin-left: 240px;

            span.type {
                color: $msa-orange;
                font-size: 12px;
                font-weight: $font-primary-weight;
                text-transform: uppercase;
            }

            h2 {
                font-size: 20px;
                font-weight: normal;

                a {
                    color: #000;
                    text-decoration: none;
                }
            }

            h4 {
                color: $sub-heading-grey;
                font-size: 14px;
                font-weight: normal;
            }
        }

        span.timestamp {
            color: $sub-heading-grey;
            font-size: 12px;
        }

        p {
            font-size: 12px;
        }
    }
}
