@import 'variables';

#splash-header {
    position: relative;
    background: #000;

    video {
        width: 100%;
        max-height: 100%;
        opacity: 0.6;
    }

    #splash-header-content {
        h1 {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -120px;
            margin-top: -54px;
        }

        .choose-city-container {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -16px;

            &.los-angeles {
                margin-left: -550px;
            }

            &.new-york {
                margin-left: 280px;
            }
        }
    }
}

a.choose-city {
    position: relative;
    width: 240px;
    height: 48px;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;
    display: block;
    text-align: center;
    text-shadow: 2px 2px 0 #000;

    &:visited {
        color: #FFF;
    }

    .enter {
        font-size: 14px;
        margin-top: -13px;
        display: block;
    }

    .city-name {
        font-size: 30px;
        font-weight: $primary-font-weight-thin;
    }
}

#splash-connect {
    border-top: 6px #FFF solid;
    border-bottom: 6px #FFF solid;
    padding: 26px 0 20px 0;
    text-transform: uppercase;
    text-align: center;

    h3 {
        color: $msa-orange;
        font-size: 50px;
    }

    span {
        color: #898989;
    }

    ul.social-icons {
        li {
            a {
                background-image: url('/assets/social-icons-grey.png');
                background-image: url('/assets/social-icons-grey.svg');
                border: none;

                &:hover {
                    background-color: #FFF;
                }
            }
        }
    }
}
