@import 'variables';
@import 'mixins';

#splash-header {
    position: relative;
    background: #000;
    overflow: hidden;

    video {
        min-width: 100%;
        min-height: 100%;
        opacity: 0.6;
    }

    #splash-header-content {
        h1 {
            position: absolute;
            @include background-image('brand');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            left: 50%;
            top: 50%;
            width: 254px;
            height: 175px;
            margin-left: -127px;
            margin-top: -54px;
            text-indent: -9999px;
            overflow: hidden;
        }

        .choose-city-container {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -16px;

            &.los-angeles {
                margin-left: -530px;
            }

            &.new-york {
                margin-left: 280px;
            }
        }

        #search-bar {
            position: absolute;
            bottom: 10%;
            left: 50%;
            margin-left: -185px;

            input {
                width: 320px;
                height: 40px;
                font-size: 16px;
                padding: 6px;
                border: none;
                opacity: 0.6;
                transition: opacity $transition-duration $transition-easing;

                &:focus {
                    opacity: 1.0;
                }
            }

            button {
                float: right;
                background-color: $msa-orange;
                @include background-image('search-icon');
                background-repeat: no-repeat;
                background-position: center;
                width: 50px;
                height: 40px;
                border: none;
                overflow: hidden;
                text-indent: -9999px;
                cursor: pointer;
            }
        }
    }
}

a.choose-city {
    position: relative;
    width: 240px;
    height: 48px;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;
    display: block;
    text-align: center;
    text-shadow: 2px 2px 0 #000;

    &:visited {
        color: #FFF;
    }

    .border {
        position: absolute;
        background: image-url('splash-location-border.png');
        top: 10px;
        left: -30px;
        width: 300px;
        height: 61px;
        overflow: hidden;
        display: block;
    }

    .enter {
        font-size: 14px;
        margin-top: -13px;
        margin-bottom: 3px;
        display: block;
    }

    .city-name {
        font-size: 30px;
        font-weight: $font-primary-weight-thin;
    }
}

#splash-connect {
    background: #000;
    border-top: 6px #FFF solid;
    border-bottom: 6px #FFF solid;
    padding: 26px 0 20px 0;
    text-transform: uppercase;
    text-align: center;

    h3.MSAFAM-logo {
        @include background-image('MSAFAM-logo');
        max-width: 500px;
        height: 69px;
        margin: 10px auto;
        overflow: hidden;
        display: block;
        text-indent: -9999px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    span {
        color: #FFF;
    }

    ul.social-icons {
        li {
            a {
                background-image: image-url('social-icons-white.png');
                background-image: image-url('social-icons-white.svg');
                border: none;

                &:hover {
                    background-color: $msa-orange;
                }
            }
        }
    }
}

#splash-feed {
    background: #000;
    font-size: 0;

    figure {
        position: relative;
        background: #000;
        width: (100% / 5);
        height: 200px;
        display: inline-block;
        overflow: hidden;
        margin: 0;
        padding: 0;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 100%;
        }

        &:hover {
            .body {
                top: 0;
            }
        }

        a {
            text-decoration: none;
        }

        .body {
            position: relative;
            background: rgba(0, 0, 0, 0.6);
            top: 200px;
            height: 100%;
            color: #FFF;
            transition: all $transition-duration $transition-easing;

            .author {
                height: 50px;
                border-bottom: 1px solid #FFF;

                .thumb {
                    position: absolute;
                    top: 7px;
                    left: 10px;
                    width: 36px;
                    height: 36px;
                    border-radius: 40px;
                    overflow: hidden;
                    display: block;

                    img {
                        position: static;
                        width: 100%;
                        min-height: 100%;
                    }
                }

                span.name {
                    position: absolute;
                    top: 14px;
                    left: 60px;
                    font-size: 16px;
                }
            }

            figcaption {
                font-size: 14px;
                padding: 10px;

                a:link, a:visited {
                    color: $msa-orange;
                }
            }

            .statistics {
                font-size: 14px;

                .likes {
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                }

                .posted {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                }
            }
        }
    }

    @include responsive-phone-retina() {
        figure {
            width: 50%;
        }
    }

    @include responsive-phones() {
        figure {
            width: 50%;
        }
    }

    @include responsive-iphone6() {
        figure {
            width: 50%;
        }
    };
}
