$msa-orange: #eb7421;
$background-color: #efefef;
$header-height: 112px;
$font-size: 16px;

// Sidebar navigation
$sidebar-width: 216px; // Navigation sidebar width

// Fonts
$primary-font: 'Lato';
$primary-font-weight: 400;
$primary-font-weight-thin: 300;

// Color Palette
$primary-grey: #343434;
$secondary-grey: #252525;
