$msa-orange: #eb7421;
$background-color: #efefef;
$header-height: 112px;
$font-size: 16px;

// Sidebar navigation
$sidebar-width: 216px; // Navigation sidebar width

// Fonts
$font-primary: 'Lato';
$font-primary-weight: 400;
$font-primary-weight-thin: 300;

// Color Palette
$primary-font-color: #000;
$secondary-font-color: #FFF;
$primary-grey: #343434;
$secondary-grey: #252525;
$sub-heading-grey: #6c6c6c;

// Sections
$section-header-font-size: 30px;
$section-header-border-color: #d7d7d7;

// Responsive
$media-desktop-width: 1200px;

// Roster slider
$roster-slider-height: 120px;
$roster-spotlight-calc: (100% / 6 + 3%);

// Animations
$transition-duration: 0.4s;
$transition-easing: ease-in-out;

// Contact Us
$contact-office-locations-font-secondary-color: #5f2700;
