$msa-orange: #eb7421;
$header-height: 112px;
$font-size: 16px;

// Sidebar navigation
$sidebar-width: 216px; // Navigation sidebar width

// Color Palette
$primary-grey: #343434;
$secondary-grey: #252525;
