<!DOCTYPE html>
<html ng-app="MSAAgency">
<head>
  <title>McDonald / Selznick Agency</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div ng-controller="AppController" ui-view>
  <%= yield %>
</div>

</body>
</html>
