<!DOCTYPE html>
<html ng-app="MSAAgency">
<head>
  <title>McDonald / Selznick Agency</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="AppController as AppCtrl">

<main-header></main-header>

<div ui-view>
  <%= yield %>
</div>

<main-footer></main-footer>

</body>
</html>
